.App {
  background-color: #FCF7F8;
  min-height: 100vh;
}

h1 {
  font-family: 'Pacifico', sans-serif;
  text-align: center;
  margin: 0 auto;
  color: #5B616A;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

nav button {
  font-family: 'Open Sans', sans-serif;
  margin: 0px 4px;
  background-color: #275DAD;
  color: #FCF7F8;
  border: #FCF7F8;
  padding: 4px 8px;
  border-radius: 6px;
}

hr {
  margin: 8px 16px;
}

section {
  margin: 0 auto;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  color: #5B616A;
}

.flavors {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.flavor {
  font-family: 'Open Sans', sans-serif;
  width: 304px;
  padding: 4px;
  margin: 4px;
  box-sizing: border-box;
  text-align: center;
  border-radius: 6px;
  border: 1px solid #5B616A;
  color: #FCF7F8;
  background-color: #275DAD;
  box-shadow: 2px 2px 2px #7B818A;
  transition: all 0.2s;
}

.flavor:hover {
  transform: scale(1.02);
}

.flavor h5 {
  font-style: italic;
}

@media screen and (max-width: 640px) {
  .flavors {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .flavor {
    width: 96vw;
  }
}
