.App {
  background-color: #fcf7f8;
  min-height: 100vh;
}

h1 {
  font-family: "Pacifico", sans-serif;
  text-align: center;
  margin: 0 auto;
  color: #5b616a;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

nav button {
  font-family: "Open Sans", sans-serif;
  margin: 0px 4px;
  background-color: #275dad;
  color: #fcf7f8;
  border: #fcf7f8;
  padding: 4px 8px;
  border-radius: 6px;
}

hr {
  margin: 8px 16px;
}

section {
  margin: 0 auto;
}

h2 {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  color: #5b616a;
}

.flavors {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 5px;
}

.flavor {
  font-family: "Open Sans", sans-serif;
  width: 304px;
  padding: 4px;
  margin: 4px;
  box-sizing: border-box;
  text-align: center;
  border-radius: 6px;
  border: 1px solid #5b616a;
  color: #fcf7f8;
  background-color: #275dad;
  box-shadow: 2px 2px 2px #7b818a;
  transition: all 0.2s;
}

.flavor:hover {
  transform: scale(1.02);
}

.flavor h5 {
  font-style: italic;
}

@media screen and (max-width: 640px) {
  .flavors {
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }

  .flavor {
    width: 96vw;
  }
}
